/.idea
/dataset
/DP_DAGMAR
/frontend/node_modules
/features/runs
/backend/dataset
/backend/runs
/backend/uploads
/backend/average_images_v4
/backend/average_images_v5
/backend/average_images_v6
/backend/average_images_v4.1
/backend/average_images_v5.1
/backend/average_images_v6.1
